/* this is a universal selector. This is used to select all elements, and get rid of all defaults */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Poppins, sans-serif;
}

#grad1 {
  background-image: linear-gradient(to right, #C342B4,#6877BD,#00B7C7);
  margin:25px,25px,0px,0px;
  padding:35px 0px 0px 0px;
  color: #F2F2F2;
  font-size: 50px
}

#grad2 {
  background-image: linear-gradient(to right, #C342B4,#6877BD,#00B7C7);
  padding:0px 0px 35px 0px;
  color: #F2F2F2;
  font-size: 40px
}

#grad3 {
  background-image: linear-gradient(to right, #C342B4,#6877BD,#00B7C7);
  padding:0px 0px 35px 0px;
  color: #F2F2F2;
}

img{
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

/* Ordered lists */

#list1 {
  padding: 20px 20px 30px 70px;
}

#list2 {
  padding: 20px 20px 20px 70px;
}


h2.one{
  margin-top: 60px;
  margin-left: 25px;
  border-left: 9px solid #C61F69;
  padding-left: 10px;
}

h2.two {
  margin-top: 10px;
  margin-left: 25px;
  border-left: 9px solid #00C7D7;
  padding-left: 10px;
}

#about {
  text-align: center;
  padding: 0px 0px 70px 0px;
}


.button{
  border: none;
  padding: 14px 45px;
  border-radius: 30px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.5s;
}

a.button:link, a.button:visited {
  background-color: white;
  color: #C342B4;
  border: 2px solid #C342B4;
}

a.button:hover, a.button:active {
  background-color: white;
  color: #00B7C7;
  border: 2px solid #00B7C7;
}


footer {
  padding: 50px 0px 30px 0px;
}
