/* this is a universal selector. This is used to select all elements, and get rid of all defaults */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Poppins, sans-serif;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #f0f0f0;
}


img {
  max-width: 58%;
  height: auto;
  display: block;
  margin: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 50px;
  background-color: #ffffff;
}

li a{
  display: block;
  color: black;
  padding: 15px 16px;
  text-decoration: none;
}

li a.active{
  background-color: #F3EA5F;
  color: white;
}

li a:hover:not(.active) {
  background-color: #f0f0f0;
  color: white;
}


a {
  border: none;
  padding: 11px 55px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
}


/*Button with a blue background and white hover*/
a.button-colored:link, a.button-colored:visited {
  background-color: #008be8;
  color: white;
  border: 2px solid #008be8;
  border-radius: 30px;
  display: inline-block;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

a.button-colored:hover, a.button-colored:active {
  background-color: #f0f0f0;
  color: #008be8;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/*Button with a white background and blue hover*/
a.button-nocolor:link, a.button-nocolor:visited {
  background-color: #f0f0f0;
  color: #008be8;
  border: 2px solid #008be8;
  border-radius: 30px;
  display: inline-block;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

a.button-nocolor:hover, a.button-nocolor:active {
  background-color: #008be8;
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


footer {
  padding: 85px 0px 50px 0px;
  text-align: center;

}
